@font-face {
  font-family: 'gilroy';
  src: url('../fonts/Gilroy-Light.otf');
}

* {
  font-family: 'gilroy';
  user-select: none;
}

:root {
  --color-1: #324357;
  --color-2: #cdd4db;
}

body {
  background-color: var(--color-1);
  margin: 0;
}

#App {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

#header {
  position: absolute;
  text-align: center;
  top: 30px;
  width: 100%;
}

#header h1 {
  color: rgba(255, 255, 255, 0.6);
  font-size: 24px;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}

#header span {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  margin: 0;
  padding: 0;
  padding: 8px;
}

#credits {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  margin: 10px 0 0 0;
}

#drum-machine {
  align-items: flex-start;
  background-color: var(--color-2);
  border-radius: 6px;
  display: flex;
  padding: 30px;
  position: relative;
}

.social {
  bottom: 2vw;
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

.social a {
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  display: flex;
  text-decoration: none;
  transition: color 0.5s ease;
}

.social span {
  display: flex;
  margin: 0 2vw;
}

.social span p {
  font-size: 14px;
}

.social span svg {
  margin-right: 1vw;
  width: 2vw;;
}

.social span svg path {
  fill: rgba(255, 255, 255, 0.6);
  transition: fill 0.5s ease;
}

.social span a:hover > svg path {
  fill: orange;
}

.social span a:hover {
  color: orange;
}
