#controls-container {
  height: 270px;
  position: relative;
  text-align: center;
  width: 300px;
}

#display {
  align-items: center;
  background-color: var(--color-1);
  border-radius: 3px;
  color: #fff;
  display: flex;
  font-size: 20px;
  font-weight: 600;
  height: 40px;
  justify-content: center;
  margin: auto;
  position: relative;
  top: 80px;
  transition: opacity 0.3s ease;
  width: 160px;
}

#display.off {
  opacity: 0.6;
}

#volume-range {
  bottom: 0;
  position: absolute;
  transition: opacity 0.3s ease;
  width: 100%;
}

#volume-range.off {
  opacity: 0.6;
}

#volume-range .status {
  color: var(--color-1);
  display: flex;
  font-size: 18px;
  font-weight: 600;
  justify-content: space-between;
  margin: 0 auto 10px auto;
  width: 250px;
}

#volume-range .range {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--color-1);
  border-radius: 3px;
  margin: auto;
  outline: none;
  overflow: hidden;
  width: 270px;
}

#volume-range .range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: #fff;
  cursor: pointer;
  height: 20px;
  width: 10px;
}

#volume-range .range::-moz-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: #fff;
  cursor: pointer;
  height: 20px;
  width: 10px;
}

#button-on-off {
  height: 20px;
  width: 100%;
}

#button-on-off.on > .btn .mark {
  left: 20px;
  opacity: 1;
}

#button-on-off .btn {
  background-color: var(--color-1);
  border-radius: 100px;
  cursor: pointer;
  float: right;
  height: 20px;
  position: relative;
  right: 10px;
  top: 10px;
  width: 40px;
}

#button-on-off .btn .mark {
  background-color: #fff;
  border-radius: 100px;
  height: 20px;
  left: 0;
  opacity: 0.6;
  position: absolute;
  top: 0;
  transition: left 0.3s ease, opacity 0.3s ease;
  width: 20px;
}
