#controls-container 
{
    width:300px;
    height:270px;
    position: relative;
    text-align: center;
}

#display 
{
    width:160px; 
    height:40px; 
    background-color: var(--color-1);
    top:80px;
    position: relative;
    margin: auto;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    transition: opacity 0.3s ease;
}
#display.off
{
    opacity:0.6;
}

#volume-range 
{
    position: absolute;
    bottom:0;
    width:100%;
    transition: opacity 0.3s ease;
}


#volume-range.off 
{
    opacity:0.6;
}

#volume-range .status
{
    display: flex;
    justify-content: space-between;
    width:250px;
    margin: 0 auto 10px auto;
    font-size: 18px;
    font-weight: 600;
    color: var(--color-1);
}

#volume-range .range
{
    width:270px;
    margin: auto;
    background-color: var(--color-1);
    appearance: none;
    -webkit-appearance: none;
    border-radius: 3px;
    overflow: hidden;
    outline: none;
}

#volume-range .range::-webkit-slider-thumb
{    
    -webkit-appearance: none;  
    appearance: none; 
    width: 10px; 
    height: 20px; 
    background: #fff; 
    cursor: pointer;
}

#volume-range .range::-moz-slider-thumb
{    
    -webkit-appearance: none;  
    appearance: none; 
    width: 10px; 
    height: 20px; 
    background: #fff; 
    cursor: pointer;
}

#button-on-off 
{
    width: 100%;
    height:20px;
}

#button-on-off.on > .btn .mark
{
    opacity:1;
    left:20px;
}

#button-on-off .btn
{
    width:40px;
    height:20px; 
    background-color: var(--color-1);
    border-radius: 100px;
    position: relative;
    float:right;
    cursor: pointer;
    top:10px;
    right:10px;
}

#button-on-off .btn .mark
{
    width:20px;
    height:20px;
    border-radius: 100px;
    background-color: #fff;
    position: absolute;
    left:0;
    top:0;
    opacity: 0.6;
    transition: left 0.3s ease,opacity 0.3s ease;
}