#drum-pad-container {
  display: block;
  text-align: center;
  transition: opacity 0.3s ease;
  width: 300px;
}

#drum-pad-container .drum-pad {
  align-items: center;
  background-color: var(--color-1);
  border: none;
  border-radius: 3px;
  box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.6);
  color: var(--color-2);
  display: inline-flex;
  font-size: 30px;
  font-weight: 700;
  height: 80px;
  justify-content: center;
  margin: 7px;
  outline: none;
  width: 80px;
}

#drum-pad-container .drum-pad:active,
#drum-pad-container .drum-pad-pressed {
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.6);
  height: 78px;
  margin: 8px;
  opacity: 0.9;
  width: 78px;
}

#drum-pad-container.off {
  opacity: 0.7;
}
