#drum-pad-container
{
    text-align: center;
    display: block;
    width:300px;
    transition: opacity 0.3s ease;
}

#drum-pad-container .drum-pad
{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        font-weight: 700;
        color: var(--color-2);
        background-color: var(--color-1);
        width:80px;
        height:80px;
        margin: 7px;
        box-shadow: 3px 5px 4px rgba(0,0,0,0.6);
        border-radius: 3px;
        border:none;
        outline: none;
}

#drum-pad-container .drum-pad:active,#drum-pad-container .drum-pad-pressed
{
        opacity: 0.9;
        width:78px;
        height:78px;
        margin: 8px;
        box-shadow: 1px 2px 4px rgba(0,0,0,0.6);
}
#drum-pad-container.off
{
        opacity: 0.7;
}
